apiVersion: v1
kind: Namespace
metadata:
  creationTimestamp: null
  name: example-application-ns
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: example-application-sa
  namespace: example-application-ns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: nginx
  name: example-application-deployment
  namespace: example-application-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nginx
    spec:
      serviceAccountName: example-application-sa
      containers:
      - image: nginx
        name: nginx
        volumeMounts:
          - mountPath: /var/run/secrets/tokens
            name: vault-token
      volumes:
      - name: vault-token
        projected:
          sources:
          - serviceAccountToken:
              path: vault-token
              expirationSeconds: 7200
              audience: vault
